/* Colors */
:root {
    --dark-blue: #032830;
    --light-blue: rgb(13, 202, 240);
    --primary-blue: rgb(13,110,253);
    --primary-lighter-blue: rgba(13,110,253, 0.3);
    --text-blue: #6edff6;
    --yellow: #F5CB5C;
    --orange: rgb(255, 135, 7);
    --lighter-orange: rgba(255, 135, 7, 0.45);
    --green: #28a745;
    --dark-green: #0b8326;
    --light-orange: rgba( 244, 192, 149, 0.45 );
    --light-green:  rgba( 40, 167, 69, 0.45 );
}

/* Background Color Styles */
.bg_dark_blue {
    background-color: var(--dark-blue) !important;
}

.bg_custom {
    background-color: rgba(13, 202, 240, 0.5);
}

/* Text Color Styles */
.text_blue {
    color: var(--text-blue) !important;
}

.navbar-toggler {
    border-color: white !important;
}

/* Main Section */
main {
    min-height: 100vh;
    max-height: max-content;
    padding: 5rem 2rem 3rem 2rem;
}

#tasks-container {
    gap: 1rem !important;
}

/* Task Card */
.task_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: none;
    border: 2px solid var(--yellow);
    background: var(--light-orange);
    box-shadow: 0 8px 16px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 15px );
    padding: 1rem;
    gap: 8px;
}

.task_card--unfinished {
    border-color: var(--yellow) !important;
    background-color: var(--light-orange);
}

.task_card--finished {
    border-color: var(--green) !important;
    background-color: var(--light-green);
}

.task_card__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.task_card__button {
    background: none;
    border-radius: 100%;
    padding: .2rem 1rem;
    border: 3px solid;
}

.task_card_button--finished {
    border-color: var(--dark-green);
}

.task_card_button--unfinished {
    border-color: var(--orange);
}

.task_card_button--unfinished:hover {
    transition: 200ms ease-in-out;
    background-color: var(--light-orange);
}

.task_card_button--finished:hover {
    transition: 200ms ease-in-out;
    background-color: var(--light-green);
}

.task_card__content p {
    margin: 0;
}

.dropdown-menu .dropdown-item:hover {
    background-image: none;    
    background-color: inherit;
}

.toast {
    top: 50px;
}


/* Screen sizing */
@media (min-width: 700px) {
    .task_card {
        max-width: 600px !important;
    }

    #tasks-container {
        flex-direction: row;
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .task_card {
        max-width: 100% !important;
    }

    #tasks-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 396px) {
    .task_card {
        flex-direction: column;
        gap: 8px;
        padding: .5rem;
    }

    main {
        padding: 5rem .5rem 3rem .5rem;
    }
}